
h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    color: #fff;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 38px;
    color: #fff;
}

h3 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: lighter;
    color: #fff;
}

p {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 1em;
}

a {
    color: #eb4847;
}

a:hover {
    color: #eb4847;
}

#tb-imagebg {
    background: #fff url("../img/mnlth.jpg") center;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 2000px;
    z-index: 1;
}

.tb-content {
    color: #ffffff;
    position: relative;
    z-index: 2;
    padding: 250px 0;
}

.tb-content-bg {
    color: #888;
    position: relative;
    z-index: 2;
    background-color: #402258; --#eb4847
    padding: 250px 0;
}

.tb-footer {
    text-transform: uppercase;
    font-weight: 1000;
    text-shadow: 1px 1px white;
    color: black;
    /*color: #ff1a8c;*/
    font-size: 2em;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.tb-underline-white {
    width: 15%;
    height: 1px;
    background: #ffffff;
    display: inline-block;
}

.contact {
    text-decoration: none;
    text-transform: lowercase;
    display: inline-block;
    font-size: 1.5em;
    color: white;
    margin: 20px;
    padding: 20px;
    border: double;
}

.contact a {
    text-decoration: none;
    text-transform: lowercase;
    display: inline-block;
    font-size: 1em;
    color: white;
}

.contact a:hover {
    font-size: 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

/*#map {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 200px;
    margin: 50px;
    padding: 20px;
    border-radius: 100%;
    border: ridge;
    border-color: #ff99ff;
}*/


/*****************************/
/***** BUTTONS *****/
/*****************************/
.tb-btn-bbg {
    padding: 20px 30px !important;
    margin: 20px 0 !important;
    line-height: 10px !important;
    border-color: transparent;
    border-radius: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: lighter !important;
    color: #ffffff !important;
    background-color: #402258; --#eb4847
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    font-weight: normal !important;
    text-transform: uppercase;
}

.tb-btn-bbg:hover,
.tb-btn-bbg:focus,
.tb-btn-bbg:active,
.tb-btn-bbg.active,
.open .dropdown-toggle.tb-btn-bbg {
    border-color: transparent;
    color: #402258 !important;
    background-color: #fff !important; --#db3332
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    font-weight: 400;
}

.tb-btn-bb {
    padding: 20px 30px !important;
    margin: 20px 0 !important;
    line-height: 10px !important;
    border-color: #fff;
    border-radius: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: lighter !important;
    color: #fff !important;
    background-color: transparent;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    font-weight: normal !important;
    text-transform: uppercase;
}

.tb-btn-bb:hover,
.tb-btn-bb:focus,
.tb-btn-bb:active,
.tb-btn-bb.active,
.open .dropdown-toggle.tb-btn-bb {
    border-color: red;
    color: red !important; --#eb4847
    background-color: #fff !important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    font-weight: 400;
}

.twtr-btn {
    padding: 20px 30px !important;
    margin: 20px 0 !important;
    line-height: 10px !important;
    border-color: #fff;
    border-radius: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: lighter !important;
    color: #fff !important;
    background-color: transparent;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    font-weight: normal !important;
    text-transform: none;
}

#btnShow {

   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }

#btnShow:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }

#btnShow:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


@media (max-width: 600px) {

    #dialog, #dvmap {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 100%;
    border: ridge;
    border-color: #ff99ff;
    }
}
/****************************************************/
/***** Exraneous BUTTONS (bootstrapped example) *****/
/****************************************************/

/*.tb-btn-bbg:active,
.tb-btn-bbg.active,
.open .dropdown-toggle.tb-btn-bbg {
    background-image: none;
}
.tb-btn-bbg.disabled,
.tb-btn-bbg[disabled],
fieldset[disabled] .tb-btn-bbg,
.tb-btn-bbg.disabled:hover,
.tb-btn-bbg[disabled]:hover,
fieldset[disabled] .tb-btn-bbg:hover,
.tb-btn-bbg.disabled:focus,
.tb-btn-bbg[disabled]:focus,
fieldset[disabled] .tb-btn-bbg:focus,
.tb-btn-bbg.disabled:active,
.tb-btn-bbg[disabled]:active,
fieldset[disabled] .tb-btn-bbg:active,
.tb-btn-bbg.disabled.active,
.tb-btn-bbg[disabled].active,
fieldset[disabled] .tb-btn-bbg.active {
    border-color: transparent;
    background-color: #db3332;
}

.tb-btn-bb:active,
.tb-btn-bb.active,
.open .dropdown-toggle.tb-btn-bb {
    background-image: none;
}
.tb-btn-bb.disabled,
.tb-btn-bb[disabled],
fieldset[disabled] .tb-btn-bb,
.tb-btn-bb.disabled:hover,
.tb-btn-bb[disabled]:hover,
fieldset[disabled] .tb-btn-bb:hover,
.tb-btn-bb.disabled:focus,
.tb-btn-bb[disabled]:focus,
fieldset[disabled] .tb-btn-bb:focus,
.tb-btn-bb.disabled:active,
.tb-btn-bb[disabled]:active,
fieldset[disabled] .tb-btn-bb:active,
.tb-btn-bb.disabled.active,
.tb-btn-bb[disabled].active,
fieldset[disabled] .tb-btn-bb.active {
    border-color: #fff;
    background-color: transparent;
}*/